@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');

:root {
    --black: #0E0B0E;
    --green: #2A504A;
    --paleYellow: #7E6145;
    --lightyellow : #A68E8B;
    --pink : #96276B;
    --white: #96276B;
    --lightblue : rgb(138,61,255)
  }

  